<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

	<div class="col-md-12" th:fragment='header' style="color: green; background-color: lightgray; opacity: 0,5; width: 100%; margin:0;">
		<div class="page-header">
			<br>
			<h1>
			<img src="img/logo_transparent.png" class="img-fluid" alt="Logo1" id='trans'>
				 <small>because Your Party must going on!</small>
			</h1>
			<br>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:id='Nav_Bar' th:fragment="nav">
		<a th:href="@{/}" class='navbar-brand'><img src="img/favicon_w.png" width="60" height="50" alt="Yourparty" id='trans'></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a th:class="nav-link"
					th:href="@{Locations}">Locations <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a th:class="nav-link"
					th:href="@{Profil}">Profil <span class="sr-only">(current)</span>
				</a></li>
				

				<!-- li class="nav-item"><a class="nav-link disabled" href="#"
					tabindex="-1" aria-disabled="true">Disabled</a></li-->
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<div class="btn-group">
						<a type="link" class="btn btn-primary" th:href="@{SignIn}">Einloggen</a>
						<button type="button"
							class="btn btn-primary dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" th:href="@{Register}">Registrieren</a>
							<a class="dropdown-item" th:href="@{Impressum}">Impressum</a>
							<a class="dropdown-item" th:href="@{Crew}">The Crew</a>
							<a class="dropdown-item" th:href="@{Help}">Hilfe</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<footer th:fragment="footer">
		<div class="main-footer" id='footer'>
			<div class="Links">
				<div id="footer" style="text-align: center">
				<a th:href="@{Help}" class style="color:white">Hilfe - <a/>
				<a th:href="@{Impressum}" class style="color:white">Impressum - <a/>
				<a th:href="@{Crew}" class style="color:white">The Crew<a/>
				
			</div>
		</div>
	</footer>

</body>
</html>