# Empty CSS file for your own CSS
#header{
	background-color: white;
	color: white;
}
#nav_bar {
	
	position: sticky; 
	top: 0;
}

body {
	background-image: url("../img/party-background_1.jpg");
	background-attachment: fixed;
	  background-size: 100%;
	  margin: 0;
	/*background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: 100% cover;
	background-position: width: 100%;
	font-size: 100%;*/
}

#loc{
	background-color: #e8e8e8; 
	margin-top: 0;
	margin-bottom: 2%;
	opacity: 0.95;
	padding: 2%;
}

#box{
	background-color: #e8e8e8; 
	margin-top: 2%;
	margin-bottom: 2%;
	opacity: 0.95;
	padding: 2%;
}
#htext{
	
	padding-right: 30%;
}

#sel{
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	
}

#footer{
	
	background-color: black;
}