<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>YourParty - Buchen</title>
<!--link rel="stylesheet" th:href="@{/css/My_Style.css}"-->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

</head>

<body>
	
	<div class="container-fluid">

		<div class="row">
			
			<div class="col-md-12" id="lol">
				<div class="row bord">
					<div class="col-md-12 jumbotron" style="margin-top: 10px;">
						<h2>Deine ausgewählte Location buchen</h2>
						<p style="text-align: justify" id='htext'>
							Hier kannst du deine Location buchen. Fülle dazu bitte die unten
							stehenden Felder aus. <br> Wenn du es dir anders überlegen
							solltest, kannst du durch den Button "Zurück!" den
							Buchungsprozess beenden.
						</p>
						<a class="btn btn-primary" href="../Locations"> Zurück </a>
					</div>
					<div class="col-md-12 jumbotron">
						<!-- <form class="was-validated" name="register" action="/"
							method="post" onsubmit="return validateForm()"> -->
						<form>
							<p>Felder die mit * versehen sind müssen zwingend ausgefüllt
								werden!</p>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="">Wann benötigst du die Location?*</label> <input
										type="date" class="form-control" name="datum" id="datum"
										required>
								</div>
								<div class="form-group col-md-12">
									<label for="">Nachricht an Vermieter:</label>
									<textarea class="form-control" name="description" id="des"
										rows="4" placeholder="Nachricht" required></textarea>
								</div>
							</div>
							<div align="left">
								<a class="btn btn-primary" onclick="Booking()">
									Jetzt buchen! </a>
							</div>
							<p>
								<br>Viel Spaß mit deiner Location! Genieße deine Party.
							</p>
						</form>
					</div>

				</div>
			</div>
		</div>
		<!--div class="Footer_Bar">
			<footer> </footer>
		</div-->
	</div>
	<script type="text/javascript" src="../js/JS_Storage.js"></script>
	<script type="text/javascript" src="../js/JS_Booking.js"></script>
	<script>window.onload = Booking</script>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
</body>

</html>