<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>YourParty - Profil</title>
<!--link rel="stylesheet" th:href="@{/css/My_Style.css}"-->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<div th:insert="fragments/Head_Nav_Footer :: header">...</div>
	<div class="container-fluid">

		<div class="row">

			<div class="col-md-12 sticky-top no-gutters" style="padding: 0px;">
				<div th:insert="fragments/Head_Nav_Footer :: nav">...</div>
			</div>

			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12"></div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="col-md-12" id='box'>
							<table>
								<tr>
									<div class="form-group"></div>
									<td><label for="exampleInputFile"></label> <input
										class="form-control-file" id="exampleInputFile" type="file"></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-12" id='box'>
							<form role="form">
								<div class="container">
									<h2>Über mich</h2>

									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Vorname:</label>
										<input type="text" class="form-control" name="vorname"
											id="vorname" placeholder="Vorname" required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Nachname:</label>
										<input type="text" class="form-control" name="nachname"
											id="nachname" placeholder="Nachname" required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Username:</label>
										<input type="text" class="form-control" name="username"
											id="username" placeholder="Username" required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">E-Mail:</label>
										<input type="email" class="form-control" name="email"
											id="email" placeholder="E-Mail" required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Geschlecht:</label>
										<input type="text" class="form-control" name="vorname"
											id="vorname" placeholder="Vorname" required>
									</div>
									<div class="form-group col-md-12">
										<label for="">Geschlecht</label> <select
											class="custom-select mr-sm-2" id="inlineFormCustomSelect"
											required>
											<option value="">Geschlecht</option>
											<option value="1">Mann</option>
											<option value="2">Frau</option>
											<option value="3">Divers</option>
										</select>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Geschlecht:</label>
										<input type="text" class="form-control" name="vorname"
											id="vorname" placeholder="Vorname" required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Adresse:</label>
										<input type="text" class="form-control" name="postleitzahl"
											id="postleitzahl" placeholder="Postleitzahl" required>
										<input type="text" class="form-control" name="wohnort"
											id="wohnort" placeholder="Wohnort" required> <input
											type="text" class="form-control" name="straße" id="straße"
											placeholder="Straße" required> <input type="text"
											class="form-control" name="hausnummer" id="hausnummer"
											placeholder="Hausnummer" required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Staatsangehörigkeit:</label>
										<input type="text" class="form-control"
											name="staatsangehörigkeit" id="staatsangehörigkeit"
											placeholder="Deutsch/Französisch/..." required>
									</div>
									<div class="form-group col-md-12">
										<label class="my-1 mr-2" for="inlineFormCustomSelect">Sonstiges:</label>
										<input type="text" class="form-control" name="beruf"
											id="beruf" placeholder="Beruf" required> <input
											type="text" class="form-control" name="hobbies" id="hobbies"
											placeholder="Hobbies" required>
									</div>
									<div class="form-group col-md-12" align="right">
										<input type="submit" value="Speichern">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col-md-12" id='box'>
							<div class="container">
								<div class="form-group col-md-12">
									<label class="my-1 mr-2" for="inlineFormCustomSelect">Wie
										gefällt dir unsere Webseite?</label>
									<textarea id="bewertung" class="form-control" rows="5"
										cols="10" placeholder="Bewertung unserer Seite..."></textarea>
								</div>
								<div class="form-group col-md-12">
									<label class="my-1 mr-2" for="inlineFormCustomSelect">Was
										könnten wir an unserer Webseite verbessern?</label>
									<textarea id="verbesserungsvorschlaege" class="form-control"
										rows="5" cols="10"
										placeholder="Ihre Verbesserungsvorschläge..."></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12" id='box'>
						<h2 align="center">
							<b>Deine Lokalitäten</b>
						</h2>
						<table align="center">
							<tr>
								<td align="center"><img src="img/abdera/abdera2.png"
									width="300" height="200"></td>
								<td align="center"><img src="img/abdera/abdera1.jpg"
									width="300" height="200"></td>
								<td align="center"><img src="img/abdera/abdera3.jpg"
									width="300" height="200"></td>
								<td align="center"><img src="img/abdera/abdera4.png"
									width="300" height="200"></td>
							</tr>
							<tr>
								<td align="left">Name:<br> <input type="text" class="form-control"
									placeholder="Name der Lokalität" /></td>
								<td align="left">Name:<br> <input type="text" class="form-control"
									placeholder="Name der Lokalität" /></td>
								<td align="left">Name:<br> <input type="text" class="form-control"
									placeholder="Name der Lokalität" /></td>
								<td align="left">Name:<br> <input type="text" class="form-control"
									placeholder="Name der Lokalität" /></td>
							</tr>
							<tr>
								<td align="left">Vermieter:<br> <input type="text" class="form-control"
									placeholder="Ihr Name" /></td>
								<td align="left">Vermieter:<br> <input type="text" class="form-control"
									placeholder="Ihr Name" /></td>
								<td align="left">Vermieter:<br> <input type="text" class="form-control"
									placeholder="Ihr Name" /></td>
								<td align="left">Vermieter:<br> <input type="text" class="form-control"
									placeholder="Ihr Name" /></td>
							</tr>
							<tr>
								<td align="left">Mieter:<br> <input type="text" class="form-control"
									placeholder="Name des Mieters" /></td>
								<td align="left">Mieter:<br> <input type="text" class="form-control"
									placeholder="Name des Mieters" /></td>
								<td align="left">Mieter:<br> <input type="text" class="form-control"
									placeholder="Name des Mieters" /></td>
								<td align="left">Mieter:<br> <input type="text" class="form-control"
									placeholder="Name des Mieters" /></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>






	</div>

	<article align="right">
		<br> <b><a href="#top">Nach oben scrollen!</a></b>
	</article>

	<div class="col-md-12" style="padding: 0px;">
		<div th:insert="fragments/Head_Nav_Footer :: footer">...</div>
	</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
</body>
</html>