<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>YourParty - Anmeldung</title>
<!--link rel="stylesheet" th:href="@{/css/My_Style.css}"-->
<link rel="stylesheet"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div th:insert="fragments/Head_Nav_Footer :: header">...</div>
	<div class="container-fluid">

		<div class="row" >
			
			<div class="col-md-12 sticky-top no-gutters" style="padding: 0px;">
				<div th:insert="fragments/Head_Nav_Footer :: nav">...</div>
			</div>
		<div class="col-md-12">
		<div class="col-md-12" id='box' style="align-items: center;">
		
		<form class="was-validated"name="signin" action="" onsubmit="return validateForm()" ><!--method="post"--> 
		 <div class="form-row">
    <div class="form-group col-md-12">
      <label for="">Username</label>
      <input type="text" class="form-control" name ="username" id="username" placeholder="Username" required>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-12">
      <label for="">Passwort</label>
      <input type="password" class="form-control" name ="password" id="password" placeholder="Passwort" required>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Anmelden</button>
    </form>
    </div></div>
    <!--div class="col-md-12" id='box'>
			<div class="col-md-4">
				<h3>Login</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="row">
					<form>
						<div class="form-row">
							<div class="form-group">
								<label for="formGroupExampleInput">Username:</label> <input
									name="username" id="username" type="text" class="form-control"
									placeholder="Username">
							</div>
							<div class="form-group">
								<label for="formGroupExampleInput2">Passwort:</label> <input
									name="password" id="password" type="password"
									class="form-control" placeholder="Passwort">
							</div>
						</div>
					</form>
					<!--form method="post"
				action="http://localhost:8999/YourParty/YourParty/login"
				name="Login">
				<table>
					<tr>
						<td>Username:</td>
						<td><input name="username" id="username" type="text"
							placeholder="Username" /></td>
					</tr>

					<tr>
						<td>Passwort:</td>
						<td><input name="password" id="password" type="password"
							placeholder="Passwort"></td>
					</tr>

				</table>
				<input type="submit" value="Absenden"
					onclick="document.form.Login.submit()" /> <a th:href="@{/Register}">Registrieren</a>
			</form>
				</div>

				<div class="col-md-9" align ="center">
					<button>
						<a class="btn" href="Locations">Einloggen</a>
					</button>
				</div>
			</div>
			</div-->

		</div>
	</div>

	<div class="col-md-12 fixed-bottom" style="padding: 0px;">
		<div th:insert="fragments/Head_Nav_Footer :: footer">...</div>

	</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="JS_App.js"></script>
</body>

</html>